 <br/><br/>
 <div class="container-fluid">
  <div class="row">
    <div class="col-sm-8" style="background-color:#e6e6e6;" >
      <img class="rounded" src="https://user-images.githubusercontent.com/34593376/39465577-b4cd4b46-4d41-11e8-99af-0848a4a34f8e.jpg"
      class="img-responsive" alt="Cinque Terre"></div>
    <div class="col-sm-4" ><app-signin></app-signin></div>
  </div>
</div>
 <!--<div class="container-fluid " >
 <mat-card class="center" routerLink="home">AMS-L2-L3 Contacts</mat-card>
 <br/>
 <mat-card class="center" routerLink="App1">AMS supported Apps</mat-card>
 <br/>
 <mat-card class="center" routerLink="App2">AMS Cloud Apps</mat-card>
 </div> -->



