

<br/>
<div class="container">
  <form (submit)="addamsContact()" *ngIf="!toggleForm">
        <div class="form-group">
          <label>Employee Id</label><input type="text" [(ngModel)]="emp_id" name="emp_id" class="form-control">
        </div>
        <div class="form-group">
          <label>Employee Name</label><input type="text" [(ngModel)]="emp_name" name="emp_name" class="form-control"/>
        </div>
        <div class="form-group">
          <label>Contact Number</label><input type="text" [(ngModel)]="emp_con" name="emp_con" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Interested Stack</label><input type="text" [(ngModel)]="emp_stack" name="emp_stack" class="form-control"/>
        </div>

          <div class="form-group">
            <label>Band</label><input type="text" [(ngModel)]="emp_band" name="emp_band" class="form-control"/>
        </div>
        <div class="form-group">
          <label>Manager</label><input type="text" [(ngModel)]="emp_mgr" name="emp_mgr" class="form-control"/>
      </div>
        <div class="form-group">
          <label>Platform</label><input type="text" [(ngModel)]="emp_form" name="emp_form" class="form-control"/>
      </div>
      <div class="form-group">
        <label>Location</label><input type="text" [(ngModel)]="emp_loc" name="emp_loc" class="form-control"/>
    </div>
         <input type="submit"  class="btn btn-primary" value="Create"/>
         <input type="submit"  class="btn btn-danger" value="Cancel"/>
  </form>
</div>
